/* Selector Universal */
/* * {
  color: gray;
} */

/* Etiqueta */
/* p {
  color: blue;
} */

/* Clase */
/* .special {
  color: orange;
} */

/* ID */
/* #myParagraph {
  color: green;
} */

/* !important */
/* p {
  color: pink !important;
} */
