body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  color: #007BFF;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

/* Estilos para dispositivos móviles (hasta 768px) */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Estilos para tabletas (768px a 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    color: #ff8800;
  }

  p {
    font-size: 18px;
  }

  .btn {
    padding: 12px 24px;
    font-size: 18px;
  }
}

/* Estilos para pantallas de escritorio (más de 1024px) */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
    color: #00cc00;
  }

  p {
    font-size: 20px;
  }

  .btn {
    padding: 14px 28px;
    font-size: 20px;
  }
}